[homing_override]
#axes: z
#set_position_z: 0.0
set_position_z: 10
axes: xyz
gcode:
    CASELIGHT_ON
    G90 ; Use absolute position mode
 #   G0 Z5 F600 ;monter 5mm au dessus
    G28 X Y
    G1 G1 X165 Y165 F6000 ; Change the X and Y coordinates to the center of your print bed
    G28 Z
    G1 Z10 ; Move up 10mm
    
    
