# The following status macros are available:
#    CASELIGHT_ON                  ; All on
#    CASELIGHT_OFF                 ; All off
#    CASELIGHT_HEATING             ; Yellow logo and nozzle
#
# You will need to add the status macros into your configuration before the matching command
# 
# Example:
# [gcode_macro print_start]
# gcode:
#     CASELIGHT_ON
#     G28
#     CASELIGHT_HEATING
#     M140 S{bed_temp}
#     M104 S{e0_temp}
#     ...
#     CASELIGHT_OFF
#
# Contributed by Voron discord users wile.e, Tetsunosuke, and etherwalker

[gcode_macro _preconfig_colors_led_vars]
  variable_colors: {
        'off': {'r': 0.0, 'g': 0.0, 'b': 0.0, 'w': 0.0},
        'on': {'r': 0.8, 'g': 0.8, 'b': 0.8, 'w':1.0},
        'heating': {'r': 0.8, 'g': 0.35, 'b': 0.0, 'w':0.0},
        'ok': {'r': 0.0, 'g': 1.0, 'b': 0.0, 'w':0.0},
    }
  gcode:
    ; Do nothing


[gcode_macro _caselight_vars]

variable_led_name:         "caselight" 
# The name of the addressable LED chain that contains the logo LED(s)

gcode:
    ; Do nothing

[gcode_macro _set_caselight_leds]
gcode:
    {% set color_name = params.COLOR %}
    {% set led_name = params.NAME %}
    {% set color = printer["gcode_macro _preconfig_colors_led_vars"].colors[color_name] %}
    

    ECHO WOULD_RUN="color_name = {color_name}"
    ECHO WOULD_RUN="color = {color}"
    ECHO WOULD_RUN="led_name = {led_name}"
    set_led led={led_name} red={color.r} green={color.g} blue={color.b} white={color.w}




[gcode_macro _arduino_led_sous_caisson_vars]
# User settings for the StealthBurner status leds. You can change the status colors and led
# configurations for the logo and nozzle here.
#variable_colors: {
#        'off': {'r': 0.0, 'g': 0.0, 'b': 0.0, 'w': 0.0},
#        'on': {'r': 0.8, 'g': 0.8, 'b': 0.8, 'w':1.0},
#        'heating': {'r': 0.8, 'g': 0.35, 'b': 0.0, 'w':0.0},
#        'ok': {'r': 0.0, 'g': 1.0, 'b': 0.0, 'w':0.0},
#    }

variable_led_name:         "arduino_led_sous_caisson" 
# The name of the addressable LED chain that contains the logo LED(s)

gcode:
    ; Do nothing


[gcode_macro caselightTEST_on]
gcode:
    _set_caselight_leds COLOR=on NAME=caselight
   

[gcode_macro caselightTEST_ok]
gcode:
    _set_caselight_leds color=ok NAME=caselight


[gcode_macro caselight_on]
gcode:
    _set_caselight_leds COLOR=on NAME=caselight
    _set_caselight_leds COLOR=on NAME=arduino_led_sous_caisson
    _set_caselight_leds COLOR=on NAME=arduino_led_haut


[gcode_macro caselight_off]
gcode:
    _set_caselight_leds color=off NAME=caselight
    _set_caselight_leds color=off NAME=arduino_led_sous_caisson
    _set_caselight_leds color=off NAME=arduino_led_haut

    
[gcode_macro caselight_heating]
gcode:
    _set_caselight_leds color=heating NAME=caselight
    _set_caselight_leds color=heating NAME=arduino_led_sous_caisson
    _set_caselight_leds color=heating NAME=arduino_led_haut

    
[gcode_macro caselight_ok]
gcode:
    _set_caselight_leds color=ok NAME=caselight
    _set_caselight_leds color=ok NAME=arduino_led_sous_caisson
    _set_caselight_leds color=ok NAME=arduino_led_haut
    

    